html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100%;
    min-height: 100%;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}
.content2 {
    position: fixed;
}
.border_heading{
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.border_heading span{
    line-height: 50px;
}
.header_desktop {
    width: 100%;
    height: 100px;
    background: #282828;
    transition: 0.6s;
    border-bottom: 10px solid #4cc1be;
}

.header_mobile {
    width: 100%;
    height: 100px;
    background: #282828;
    transition: 0.6s;
    display: none;
    border-bottom: 10px solid #4cc1be;
}

/*Footer*/

.footer {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #191919;
}

.footer p {
    line-height: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0;
}


/*End Footer*/
/*Menu Trai*/
.contentMenu {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
    transition: 0.4s;
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.nut {
    color: white;
    float: right;
    padding: 20px;
}

.contentMenu i {
    font-size: 30px;
    cursor: pointer;
}

.contentMenu ul {
    display: block;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    transition: 0.4s;
    margin: 40px;
}

.contentMenu ul li {
    color: #dfe5eb;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.contentMenu ul li i {
    padding-right: 10px;
}

.contentMenu ul li:hover {
    color: #59e9df;
}

.contentMenu ul .sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
}

.menutrai {
    transform: translateX(-100%);
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
}
.doiMauHeader {
    background: linear-gradient(90deg, #ed765687, #52bca68a);
    transition: 0.6s;
    z-index: 999;
}
/*End Menu Trai*/
.content_post{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    margin-top: 100px; 
    padding-bottom: 150px;
}
.post-body-left{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}
.post-body-right{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}
.title-post{
    width: 100%;
    min-height: 140px;
    overflow: hidden;
    padding: 0;
}
.title-post span{
    font-weight: 700;
    text-align: left;
    font-size: 2.5rem;
}
.summary{
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 700;
}
.summary-content{
    margin-top: 20px;
    font-size: 13px;
}
.related{
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    background: #f6f6f7;
    padding-bottom: 200px;
}
.item{
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 11px -2px rgba(133,133,133,1);
    -moz-box-shadow: 0px 3px 11px -2px rgba(133,133,133,1);
    box-shadow: 0px 3px 11px -2px rgba(133,133,133,1);
}