html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
}

.content {
    width: 100%;
    min-height: 100%;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}
.content2 {
    position: fixed;
}
.border_heading{
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.border_heading span{
    line-height: 50px;
}

/*Footer*/

.footer {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #191919;
}

.footer p {
    line-height: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0;
}


/*End Footer*/
/*Menu Trai*/
.contentMenu {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
    transition: 0.4s;
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
}



.contentMenu i {
    font-size: 30px;
    cursor: pointer;
}

.contentMenu ul {
    display: block;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    transition: 0.4s;
    margin: 40px;
}

.contentMenu ul li {
    color: #dfe5eb;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.contentMenu ul li i {
    padding-right: 10px;
}

.contentMenu ul li:hover {
    color: #59e9df;
}

.contentMenu ul .sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
}

.menutrai {
    transform: translateX(-100%);
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
}
.doiMauHeader {
    background: linear-gradient(90deg, #ed765687, #52bca68a);
    transition: 0.6s;
    z-index: 999;
}
/*End Menu Trai*/
.article-content p{
    font-size: 17px;
}
.content_post{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    margin-top: 50px; 
    padding-bottom: 100px;
}
.post-body-left{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}
.post-body-right{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}
.title-post{
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    padding: 0;
}
.title-post span{
    font-weight: 700;
    text-align: left;
    font-size: 2.5rem;
}
.summary{
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 700;
}
.summary-content{
    margin-top: 20px;
    font-size: 13px;
}
.related{
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    background: #f6f6f7;
    padding-bottom: 200px;
}
.item{
    min-height: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 11px -2px rgba(133,133,133,1);
    -moz-box-shadow: 0px 3px 11px -2px rgba(133,133,133,1);
    box-shadow: 0px 3px 11px -2px rgba(133,133,133,1);
}
.title_item_related{
    width: 100%;
    height: 45%;
}
.title_item_related h4{
    font-size: 15px;
    padding-left: 10px;
    padding-top: 15px;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    transition: 0.4s;
    padding-bottom: 5px;
}
.title_item_related h4:hover{
    color: #5488c7;
}
.author_item{
    width: 100%;
    height: 15%;
}
.author_item p{
    margin-left: 10px;
    color: #5488c7;
    cursor: pointer;
    margin-top: 5px;
}
.author_item p:hover{
    color: #4677b3;
    transition: 0.4s;
}
.post_status{
    width: 100%;
    height: 30%;
}
.post_status ul{
    margin-left: 10px;
    padding: 0;
}
.post_status ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    color: #9b9b9b;
    cursor: pointer;
}
.post_author{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}
.info_post{
    height: 100%;
    float: left;
}
.publish_post{
    height: 100%;
    float: left;
    padding-top: 5px;
}
.img_blogger{
    width: 60px;
    height: 100%;
    float: left;
}
.img_blogger img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.name_blogger_border{
    width: 110px;
    height: 100%;
    float: left;
}
.name_blog{
    color: #5488c7;
    margin-left: 10px;
    margin-top: 5px;
}
.text-muted{
    color: #b3adad;
    font-size: 13px;
    margin-left: 10px;
}
.text-muted-publish{
    width: 100%;
    height: 50%;
    color: #b3adad;
    font-size: 13px;

}
.text-muted-publish div{
    float: right;
}
.post_meta_item{
    width: 100%;
    height: 50%;
}
.post_meta_item .post_status ul{
    float: right;
}
.post_meta_item .post_status ul li{
    padding: 0;
    margin-left: 10px;
}
/*tags*/
.tags{
    margin-bottom: 20px;
}
.tags button{
    border-radius: 5px;
    background: #5488c7;
    font-size: 13px;
    color: white;
    border: 1px solid #5488c7;
    cursor: pointer;
    display: inline-block;
}
.tags button:hover{
    background: #377fd6;
}
.tags button:focus{
    outline: none;
}
/*end tags*/

/*media*/
@media only screen and (max-width: 994px){
    .title-post span{
        font-size: 1.75rem;
    }
    .post_author{
        margin-bottom: 50px;
    }
    .article-content p{
        font-size: 16px;
    }

}