html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    font-size: .875rem;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.content {
    min-height: 100%;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

.content2 {
    position: fixed;
}

.content-menu-mobile {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
    transition: 0.4s;
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.nut {
    float: right;
    padding: 20px;
}

.content-menu-mobile i {
    font-size: 30px;
    cursor: pointer;
    color: #dfe5eb;
}

.content-menu-mobile ul {
    display: block;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    transition: 0.4s;
    margin: 40px;
}

.content-menu-mobile ul li {
    color: #dfe5eb;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.content-menu-mobile ul li i {
    padding-right: 10px;
}

.content-menu-mobile ul li:hover {
    color: #59e9df;
}

.content-menu-mobile ul .sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
}

.menutrai {
    transform: translateX(-100%);
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
}
.menutrai i{
    color: white;
}
.bannerTitle h1 {
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

/*Phan layout*/

.phanLayout {
    height: 30px;
}
/*watch-more*/
.watch-more{
    border-left: 1px solid #ccc;
    min-height: 300px;
    overflow: hidden;
    padding-left: 8px;
}
.sidebar .item .title_item_related h4{
    font-size: 1.1rem;
}
.hot_news{
    margin-top: 30px;
    border-bottom: 3px solid red;
}
.hot_news span{
    font-weight: bold;
    font-size: 15px;
    color: white;
    background: red;
    padding: 5px 5px 5px 5px;
}
.sidebar{
    min-height: 50px;
    overflow: hidden;
}
/*end watch-more*/

/*Footer*/

.footer {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #191919;
}

.footer p {
    line-height: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0;
}


/*End Footer*/
@media only screen and (max-width: 994px){
    .watch-more{
        display: none;
    }
    .img_admin_post img{
        width: 100%;
        height: auto;
    }
    .phanLayout{
        display: none;
    }
}