html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.4s;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.content {
    min-height: 100%;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

.content2 {
    position: fixed;
}

.contentMenu {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
    transition: 0.4s;
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
}

.nut {
    color: white;
    float: right;
    padding: 20px;
}

.contentMenu i {
    font-size: 30px;
    cursor: pointer;
}

.contentMenu ul {
    display: block;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    transition: 0.4s;
    margin: 40px;
}

.contentMenu ul li {
    color: #dfe5eb;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.contentMenu ul li i {
    padding-right: 10px;
}

.contentMenu ul li:hover {
    color: #59e9df;
}

.contentMenu ul .sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
}

.menutrai {
    transform: translateX(-100%);
    background: linear-gradient(to bottom, #333145 0%, #b8333ef7 100%);
}

.bannerTitle h1 {
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

/*Phan layout*/

.phanLayout {
    height: 60px;
}


/*End Phan Layout*/


/*Noi dung*/

.noidung {
    overflow: hidden;
    width: 75%;
    min-height: 600px;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

@media only screen and (max-width: 994px){
    .noidung{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}
/*Trang thai sau khi hover*/



/*Footer*/

.footer {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #191919;
}

.footer p {
    line-height: 80px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0;
}


/*End Footer*/
