.post_feed{
  padding-bottom: 200px;
}
.post-feed-item{
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}
.img_admin_post{
  width: 9%;
  height: 100%;
  float: left;}
.img_admin_post img{
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.post-feed-item-info{
  width: 91%;
  height: 100%;
  float: left;
  padding-left: 5px;
}
.post-meta-inline{
  width: 100%;
  height: auto;
}
.user-inline{
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.user-inline span{
  color: #5488c7;
}
.post-meta{
  display: inline-block;
  float: left;
}
.post-meta span{
  color: #9b9b9b;
  font-size: auto;
}
.post-title-inline{
  width: 100%;
  min-height: 25px;
  overflow: hidden;
}
.post-title-inline h4{
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.post-title-inline h4:hover{
  color: #5488c7;
}
.justify-content-between{
  margin-bottom: 5px;
}